<h1>Add New Member</h1>
<form novalidate (ngSubmit)="addMember()" [formGroup]="data" class="row justify-content-md-center">
  <div class="col-sm-9 message" *ngIf="message">
    <p>{{message}}</p>
  </div>
  <div class="col-sm-9">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">First Name:</label>
      <div class="col-md-9">
        <input class="form-control" type="text" formControlName="firstName">
      </div>
    </div>
  </div>
  <div class="col-md-6 alert-danger" role="alert"
       *ngIf="data.get('firstName').invalid && data.get('firstName').touched">
    Invalid firstName!
  </div>
  <div class="col-sm-9">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Last Name:</label>
      <div class="col-md-9">
        <input class="form-control" type="text" formControlName="lastName">
      </div>
    </div>
  </div>
  <div class="col-md-6 alert-danger" role="alert" *ngIf="data.get('lastName').invalid && data.get('lastName').touched">
    Invalid lastName!
  </div>
  <div class="col-sm-9">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Age:</label>
      <div class="col-md-9">
        <input class="form-control" type="text" formControlName="age">
      </div>
    </div>
  </div>
  <div class="col-md-6 alert-danger" role="alert" *ngIf="data.get('age').invalid && data.get('age').touched">
    Invalid Age!
  </div>
  <div class="col-sm-9">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Height:</label>
      <div class="col-md-9">
        <input class="form-control" type="text" formControlName="height">
      </div>
    </div>
  </div>
  <div class="col-md-6 alert-danger" role="alert" *ngIf="data.get('height').invalid && data.get('height').touched">
    Invalid Height!
  </div>
  <div class="col-sm-9">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Weight:</label>
      <div class="col-md-9">
        <input class="form-control" type="text" formControlName="weight">
      </div>
    </div>
  </div>
  <div class="col-md-6 alert-danger" role="alert" *ngIf="data.get('weight').invalid && data.get('weight').touched">
    Invalid Weight!
  </div>
  <div class="col-sm-9">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Address:</label>
      <div class="col-md-9">
        <input class="form-control" type="text" formControlName="address">
      </div>
    </div>
  </div>
  <div class="col-md-6 alert-danger" role="alert" *ngIf="data.get('address').invalid && data.get('address').touched">
    Invalid Address!
  </div>

  <div class="col-sm-9">
    <fieldset formGroupName="location">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Location:</label>
      <div class="col-md-9">
      <select formControlName="id">
        <option *ngFor="let option of location" value="{{option.id}}">
        {{option.name}}
        </option>

      </select>
      </div>
    </div>
    </fieldset>
  </div>

  <div class="col-sm-9">
    <div class="form-group row">
      <input type="submit" value="submit">
    </div>
  </div>


</form>
