<table>
  <tr>
    <td>FirstName</td>
    <td>LastName</td>
    <td>Age</td>
    <td>Address</td>
    <td colspan="2"><button [routerLink]="['/add']">Add new member</button></td>
  </tr>
  <tr *ngFor="let item of output; index as i">
    <td>{{item.firstName}}</td>
    <td>{{item.lastName}}</td>
    <td>{{item.age}}</td>
    <td>{{item.address}}</td>
    <button [routerLink]="['/home',item.id]">view</button>
    <button [routerLink]="['/home/edit',item.id]">edit</button>
    <button [routerLink]="['/home/delete',item.id]">delete</button>
  </tr>
</table>



